USE [Restaurant Management]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](1000) NOT NULL,
	[Email] [nvarchar](1000) NULL,
	[Tell] [nvarchar](200) NULL,
	[DateCreated] [smalldatetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[ID] [int] NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[TableID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Discount] [float] NULL,
	[Tax] [float] NULL,
	[Status] [bit] NOT NULL,
	[CheckoutDate] [smalldatetime] NULL,
	[Account] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Unit] [nvarchar](100) NOT NULL,
	[FoodCategoryID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](1000) NOT NULL,
	[Path] [nvarchar](3000) NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_ROle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[RoleID] [int] NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Actived] [bit] NOT NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_RoleAccount] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table01]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table01](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Status] [bit] NOT NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'admin', N'admin123', N'Nguyễn Văn A', N'admin@gmail.com', N'0912345678', CAST(N'2025-01-08T00:00:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'admin01', N'1234', N'vy', N'admin01@gmail.com', N'0946467864', CAST(N'2025-10-06T23:21:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'cashier', N'cashier99', N'Lê Văn C', N'cashier@gmail.com', N'0988777666', CAST(N'2025-01-22T00:00:00' AS SmallDateTime))
GO
INSERT [dbo].[BillDetail] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[BillDetail] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (2, 2, 1, 2)
INSERT [dbo].[BillDetail] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (3, 1, 3, 1)
GO
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (1, N'HD1', 2, 100000, 10, 0.8, 0, CAST(N'2025-08-07T00:00:00' AS SmallDateTime), N'admin')
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (2, N'HD2', 3, 150000, 15, 1, 1, CAST(N'2025-10-05T00:00:00' AS SmallDateTime), N'staff01')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (1, N'Đồ ăn', 2)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (2, N'Nước uống', 1)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (3, N'Tráng miệng ', 3)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (1, N'Phở bò', N'Tô', 1, 100, N'Không cay, cập nhật')
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (2, N'Trà Đào', N'Ly', 2, 30000, N'Nhiều đá')
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (3, N'Bánh Flan', N'Hũ', 3, 15000, N'Có thêm caramel')
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (1, N'Admin', N'/admin/dashboard', N'Toàn quyền hệ thống')
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (2, N'Staff', N'/satff/home', N'Nhân viên phục vụ')
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (3, N'Cashier', N'/cashier/bills', N'Nhân viên thu ngân')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'admin', 0, N'Tài khoản admin hệ thống')
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'admin01', 0, NULL)
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (2, N'staff01', 1, N'Nhân viên chính thức')
GO
SET IDENTITY_INSERT [dbo].[Table01] ON 

INSERT [dbo].[Table01] ([ID], [Name], [Status], [Capacity]) VALUES (1, N'Bàn 1', 1, 4)
INSERT [dbo].[Table01] ([ID], [Name], [Status], [Capacity]) VALUES (2, N'Bàn 2', 0, 6)
INSERT [dbo].[Table01] ([ID], [Name], [Status], [Capacity]) VALUES (3, N'Bàn 3', 1, 10)
SET IDENTITY_INSERT [dbo].[Table01] OFF
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Bills] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Bills] ([ID])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Bills]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Food] FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Food]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table01] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Table]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Category] FOREIGN KEY([FoodCategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_Category]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Account]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Role]
GO
/****** Object:  StoredProcedure [dbo].[AssignRoleToAccount]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AssignRoleToAccount]
    @AccountName NVARCHAR(50),
    @RoleID INT,
    @Actived BIT,
    @Notes NVARCHAR(200)
AS
BEGIN
    INSERT INTO RoleAccount (AccountName, RoleID, Actived, Notes)
    VALUES (@AccountName, @RoleID, @Actived, @Notes);
END
GO
/****** Object:  StoredProcedure [dbo].[Category_GetAll]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Category_GetAll]
as
begin
	select* from dbo.Category
end
GO
/****** Object:  StoredProcedure [dbo].[Category_GetByID]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Category_GetByID](@ID int)
as
begin
	select* from dbo.Category where ID=@ID
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllAccounts]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAccounts]
AS
BEGIN
    SELECT 
        a.AccountName,
		a.Password,
        a.FullName,
        a.Email,
        a.Tell,
        a.DateCreated,
        r.RoleName,
        ra.Actived
    FROM Account a,RoleAccount ra,Role r
    WHERE a.AccountName = ra.AccountName AND ra.RoleID = r.ID
END
GO
/****** Object:  StoredProcedure [dbo].[GetBillDatesByAccount]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetBillDatesByAccount]
    @AccountName NVARCHAR(50)
AS
BEGIN
    SELECT DISTINCT CONVERT(DATE, CheckOutDate) AS BillDate
    FROM Bills
    WHERE Account = @AccountName
    ORDER BY BillDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetBillDetailsByInvoiceID]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillDetailsByInvoiceID]
    @InvoiceID INT
AS
BEGIN
    SELECT 
        bd.ID,
        f.Name AS FoodName,
        bd.Quantity,
        (bd.Quantity * f.Price) AS SubTotal
    FROM BillDetail bd, Food f
    WHERE bd.InvoiceID = @InvoiceID AND f.ID = bd.FoodID
END
GO
/****** Object:  StoredProcedure [dbo].[GetBillsByDate]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillsByDate]
    @FromDate DATETIME,
    @ToDate DATETIME
AS
BEGIN
    SELECT 
        ID,
        Name,
        TableID,
        Amount,
        Discount,
        Tax,
         (Amount - (Amount * Discount / 100) + (Amount * Tax / 100)) AS NetRevenue,
        CheckOutDate,
        Account,
        Status
    FROM Bills
    WHERE CheckOutDate BETWEEN @FromDate AND @ToDate;
END
GO
/****** Object:  StoredProcedure [dbo].[GetBillsByDateAndAccount]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetBillsByDateAndAccount]
    @AccountName NVARCHAR(50),
    @BillDate DATE
AS
BEGIN
    SELECT 
        b.ID,
        b.Amount,
        b.Discount,
        b.Tax,
        b.Status,
        b.CheckOutDate
    FROM Bills b
    WHERE b.Account = @AccountName 
      AND CONVERT(DATE, b.CheckOutDate) = @BillDate;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRolesByAccount]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetRolesByAccount]
    @AccountName NVARCHAR(50)
AS
BEGIN
    SELECT 
        r.ID,
        r.RoleName,
        CASE WHEN ra.AccountName IS NOT NULL THEN 1 ELSE 0 END AS Assigned
    FROM Role r,RoleAccount ra
    WHERE r.ID = ra.RoleID AND ra.AccountName = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertAccount]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAccount]
    @AccountName NVARCHAR(50),
    @Password NVARCHAR(100),
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @Tell NVARCHAR(20)
AS
BEGIN
    INSERT INTO Account (AccountName, Password, FullName, Email, Tell, DateCreated)
    VALUES (@AccountName, @Password, @FullName, @Email, @Tell, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCategory]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCategory]
    @Name NVARCHAR(100),
    @Type INT
AS
BEGIN
    INSERT INTO Category (Name, Type)
    VALUES (@Name, @Type);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertFood]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertFood]
    @ID int output,
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000)
AS
INSERT INTO [Food]
    ([Name], [Unit], [FoodCategoryID], [Price], [Notes])
VALUES
    (@Name, @Unit, @FoodCategoryID, @Price, @Notes)

SELECT @ID = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[InsertRole]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertRole]
    @RoleName NVARCHAR(50),
    @Path NVARCHAR(100),
    @Notes NVARCHAR(200)
AS
BEGIN
    INSERT INTO Role (RoleName, Path, Notes)
    VALUES (@RoleName, @Path, @Notes);
END
GO
/****** Object:  StoredProcedure [dbo].[ResetPassword]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetPassword]
    @AccountName NVARCHAR(50)
AS
BEGIN
    UPDATE Account
    SET Password = '123456'
    WHERE AccountName = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAccount]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAccount]
    @AccountName NVARCHAR(50),
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @Tell NVARCHAR(20)
AS
BEGIN
    UPDATE Account
    SET FullName = @FullName,
        Email = @Email,
        Tell = @Tell
    WHERE AccountName = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateFood]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateFood]
    @ID int,
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000)
AS
UPDATE [Food]
SET
    [Name] = @Name,
    [Unit] = @Unit,
    [FoodCategoryID] = @FoodCategoryID,
    [Price] = @Price,
    [Notes] = @Notes
WHERE ID = @ID

IF @@ERROR <> 0
    RETURN 0
ELSE
    RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[UpdateRolesForAccount]    Script Date: 10/23/2025 11:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRolesForAccount]
    @AccountName NVARCHAR(50)
AS
BEGIN
    -- Trước khi gán mới, xóa các vai trò cũ
    DELETE FROM RoleAccount WHERE AccountName = @AccountName;
END
GO
